.hero_section{
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  
}

/* ===== MARQUEE ===== */
.hero_marquee{
  position: absolute;
  bottom: 50%;
  width: 200%;
  overflow: hidden;
  z-index: 1;
}

.marquee_track{
  display: flex;
  width: max-content;
  animation: marquee 30s linear infinite;
}

.marquee_track h1{
  white-space: nowrap;
  margin-right: 4rem;
  font-size: 2rem;
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
}

@keyframes marquee{
  from{ transform: translateX(0); }
  to{ transform: translateX(-50%); }
}

/* ===== Statue ===== */
.statue_overlay{
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  opacity: 0;
  animation: fadeIn 2s ease-out forwards;
}
.statue{
  width: clamp(420px, 110vw, 680px);
}
@keyframes fadeIn {
  to { opacity: 1; }
}

/* ===== RIGHT TEXT ===== */
.hero_text{
  position: absolute;
  right: 6%;
  top: 70%;
  max-width: 420px;
  z-index: 15;
  transform: translateX(10%);
}

.hero_text h2{
  color: var(--white);
  text-align: center;
}

/* layout mobile */
@media (max-width: 900px){
  .hero_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .scale_overlay{
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    margin: 0 auto;
  }

  .hero_text{
    position: relative;
    margin-top: 2.5rem;
    text-align: center;
  }
}

.explore_btn {
  position: absolute;  /* cho nó free di chuyển */
  bottom: 20px;        /* cách đáy 20px */
  left: 20px;          /* cách trái 20px */
  z-index: 20;         /* lên trên các layer khác */
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  background-color: #a0c8a236; /* tuỳ chỉnh màu */
  color: #f9fbfa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}